<div class="button__wrapper">
  <a routerLink="/search" class="button__search">
    <img src="assets/images/search.svg" al="Search button" />
  </a>
  <a routerLink="/shoutout" class="button__share">
    <img src="assets/images/share.svg" alt="Share button and announcements" />
  </a>
  <a routerLink="/" class="button__main">
    <img src="assets/images/hamburger.svg" alt="Main menu button">
  </a>
  <a class="button__playlist" (click)="playing()">
    <img src="assets/images/player.svg" alt="Player and playlist button">
  </a>
</div>
