
.button__wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 20px;

  a {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 13px 10px;
    width: 50px;

    img {
      margin: 0 auto;;
      width: 80%;
    }
  }
}
